<md-dialog  aria-label="Update tag">
    <md-dialog-content class="md-dialog-content">
        <h2>Update Defendant tag</h2>
        <div layout="row" layout-fill layout-align="center" data-ng-show="loaders.update">
            <md-progress-circular md-mode="indeterminate" class="md-accent"></md-progress-circular>
        </div>

        <md-input-container>
            <label>Name</label>
            <input data-ng-model="tag.name">
        </md-input-container>

        <md-input-container>
            <label>Weight</label>
            <input data-ng-model="tag.level">
        </md-input-container>

    </md-dialog-content>
    <md-dialog-actions layout="horizontal" layout-align="end end">
        <md-button  ng-click="cancel()" aria-label="Cancel" data-ng-disabled="loaders.update">
            Cancel
        </md-button>
        <md-button  class="md-primary" ng-click="hide()" aria-label="Save"
                    data-ng-disabled="loaders.update">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>
