<div role="tabpanel" id="tab-thresholds" data-ng-init="ctrlThresholds.init()">
    <div layout="column" layout-fill>
        <md-content class="md-padding" flex="">
            <md-toolbar md-theme="white" class="no-shadow">
                <h3 class="md-toolbar-tools" layout="row">
                    <i class="zmdi zmdi-format-list-bulleted grey"></i>
                    <span flex>Report thresholds</span>
                    <md-button data-ng-click="ctrlThresholds.addThreshold()" aria-label="Add new threshold"
                               class="md-icon-button">
                        <md-tooltip>Add new threshold</md-tooltip>
                        <md-icon md-font-icon="zmdi zmdi-plus zmdi-hc-2x grey"></md-icon>
                    </md-button>
                </h3>
            </md-toolbar>

            <md-divider></md-divider>
            <md-list>
                <md-list-item ng-repeat="threshold in ctrlThresholds.thresholds | orderBy:'category'">
                    <i class="zmdi zmdi-chevron-right grey md-avatar"></i>
                    <div class="md-list-item-text">
                        <h4 data-ng-bind="threshold.category"></h4>
                        <p>
                            Fixed to
                            <span data-ng-bind="threshold.threshold"></span>
                            reports within
                            <span data-ng-bind="threshold.interval"></span>
                            days.
                        </p>
                    </div>
                    <span flex></span>
                    <div layout="row">
                        <md-button data-ng-click="ctrlThresholds.updateThreshold(threshold)"
                                   aria-label="Update threshold"
                                   class="md-icon-button">
                            <md-tooltip>Update threshold</md-tooltip>
                            <md-icon md-font-icon="zmdi zmdi-edit grey"></md-icon>
                        </md-button>
                        <md-button data-ng-click="ctrlThresholds.deleteThreshold(threshold)"
                                   aria-label="Delete threshold"
                                   class="md-icon-button">
                            <md-tooltip>Delete threshold</md-tooltip>
                            <md-icon md-font-icon="zmdi zmdi-delete grey"></md-icon>
                        </md-button>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
