<md-dialog aria-label="Delete email template">
    <md-dialog-content class="md-dialog-content">
        <h2 translate>Delete template</h2>
        <p>Do you want to delete this email template ?</p>
    </md-dialog-content>
    <md-dialog-actions layout="horizontal" layout-align="end">
        <md-button  ng-click="cancel()" aria-label="Cancel">Cancel</md-button>
        <md-button  class="md-primary" data-ng-click="hide()" aria-label="Delete">Delete</md-button>
    </md-dialog-actions>
</md-dialog>
