<md-dialog  aria-label="Add category">
    <md-dialog-content class="md-dialog-content">
        <h2 translate>Add Category</h2>
        <md-input-container>
            <label>Name</label>
            <input ng-model="category.name">
        </md-input-container>
        <md-input-container>
            <label>Label</label>
            <input ng-model="category.label">
        </md-input-container>
        <md-input-container>
            <label>Description</label>
            <input ng-model="category.description">
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="horizontal" layout-align="end end">
        <md-button  ng-click="cancel()" aria-label="Cancel">Cancel</md-button>
        <md-button  class="md-primary" ng-click="hide()" aria-label="Save">Save</md-button>
    </md-dialog-actions>
</md-dialog>
